{% extends "main.html" %}



{% block content %}
<h1>~Azienda per la mobilità~</h1>



<div>

    <div>
        {% for line in bus_lines %}

            <div>
                <h3>Linea {{line.line_number}} | <a href='{% url "line" line.line_number %}'>{{line.name}}</a> -- Stops => {{line.stops}}</h3>
                <hr>
            </div>

        {% endfor %}
    </div>
    
    <h3><a href="{% url 'create-line' %}">Make a Line!</a></h3> 
    -----------------------
    <h3><a href="{% url 'create-bus' %}">Make a Bus!</a></h3>
    -----------------------
    <h3><a href="{% url 'create-stop' %}">Make a Stop!</a></h3>
    -----------------------
    <h3><a href="{% url 'create-passenger' %}">Make a Passenger!</a></h3>
    -----------------------
    <h3><a href="{% url 'create-driver' %}">Make a Driver!</a></h3>

</div>

{% endblock content %}