{% extends "main.html" %}

{% block content %}

<h1>ID del Bus: {{ bus.bus_id }} | Linea: {{ line }}</h1>
<hr>
<h2>Capacità: {{ bus.capacity }}</h2>
<hr>
<h2>Numero di Passeggeri: {{ bus.passengers.count }}</h2>
<hr>
<h3><a href="{% url 'create-line_to_bus' bus.bus_id %}">Assegna una Linea a questo Bus!</a></h3>
<h3><a href="{% url 'create-passenger_on_bus' bus.bus_id %}">Fai salire un Passeggero su questo Bus!</a></h3>
<div>
    <button>
        <a href="{% url 'delete-bus' bus.bus_id %}">Elimina</a>
    </button>
</div>

{% endblock content %}
