{% extends "main.html" %}

{% block content %}

<h1>ID del Bus: {{ bus.bus_id }}</h1>
<hr>
<h2>Capacità: {{ bus.capacity }}</h2>
<hr>
<h2>Numero di Passeggeri: {{ bus.passengers.count }}</h2>
<hr>
<h2>Linee: 
    {% for combo in livetratac %}
        {% if combo.bus == bus %}
            <div>
                <h4>{{combo.line}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</h2>
<div>
    <button>
        <a href="{% url 'create-passenger_on_bus' bus.bus_id %}">Fai salire o scendere un Passeggero dal Bus!</a>
    </button>
    <button>
        <a href="{% url 'delete-bus' bus.bus_id %}">Elimina</a>
    </button>
</div>

{% endblock content %}
