{% extends "main.html" %}

{% block content %}
<h1>ID Conducente: {{ driver.driver_id }}</h1>
<hr>
<h1>Nome: {{ driver.name }}</h1>
<hr>
<h1>Cognome: {{ driver.surname }}</h1>
<hr>
<h2>Bus: 
    {% for combo in multidriver %}
        {% if combo.driver == driver %}
            <div>
                <h4>{{combo.bus}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</h2>
<hr>
<div>
    <button>
        <a href="{% url 'remove-bus-from-driver' driver.driver_id %}">Manda in vacanza il conducente!</a>
    </button>
    <button>
        <a href="{% url 'delete-driver' driver.driver_id %}">Elimina</a>
    </button>
</div>
{% endblock content %}
