{% extends "main.html" %}



{% block content %}

<h1>Linea {{line.line_number}} | {{line.name}}</h1>
<hr>
<h2>Stops: 
    {% for combo in ordinatac %}
        {% if combo.line == line %}
            <div>
                <h4>{{combo.stop}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</h2>
<hr>
<h2>Bus: 
    {% for combo in livetratac %}
        {% if combo.line == line %}
            <div>
                <h4>{{combo.bus}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</h2>
<div>
    <button>
        <a href="{% url 'delete-line' line.line_number %}">Elimina</a>
    </button>
    
<div>
{% endblock content %}