{% extends "main.html" %}



{% block content %}
<h1>ID Stop: {{stop.stop_id}} | Nome: {{stop.name}}</h1>
<hr>
<h2>Latitudine: {{stop.latitude}}</h2>
<h2>Longitudine: {{stop.longitude}}</h2>
<hr>
<h2>Linee: 
    {% for combo in ordinatac %}
        {% if combo.stop == stop %}
            <div>
                <h4>{{combo.line}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</h2>
<hr>
<div>
    <button>
        <a href="{% url 'delete-stop' stop.stop_id %}">Elimina</a>
    </button>
    
<div>
{% endblock content %}