body {
    background-color: rgb(190, 190, 190);
    margin: 0px;
    
}
.memeg{
    background-color: silver;
    background-image: url(images/i-drive-drive-1575155904.gif);
}

a{
    color: rgb(236, 13, 13);
    text-decoration: none;
}
a:hover{
    color: white;
}

.nav_bar ul{
    background-color: rgb(210, 95, 95);
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    
}
.nav_bar img{
    width: 100px;
}

.nav_bar a:not(.no-style){
    /* width: 25px; */
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    
} 
.nav_bar a:hover{
    color: black;
}
.nav_bar li {
    float: left;
    /* padding: 25px; */
    
}
main{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;

}

/* : hover mi gestice il comportamento del bottone con il cursore sopra*/
.login button:hover {
    background-color:black;
    color: white;
}

