<nav class="nav_bar">
    
    <ul class="ul_nav">
        {% load static %}
        <img src='{% static "main.css" %}' alt="">
        <li> <a class="no-style" href="/"> 
            <img src='{% static "images/Logo_ATAC.png" %}' alt="Logo ATAC">
        </a></li>
        <li><a href="/">Home</a></li>
        <li><a href='{% url "stops_list" %}'>Stop</a></li>
        <li><a href='{% url "bus_list" %}'>Bus</a></li>
        <li><a href='{% url "passengers_list" %}'>Passeggeri</a></li>
        <li><a href='{% url "drivers_list" %}'>Conducenti</a></li>
        <li><a href='{% url "scioperi" %}'>Scioperi</a></li>
        
    </ul>
</nav>